StoogeFarmers/lcm
StoogeFarmers/lcm_main.o
StoogeFarmers/lcm.o
Party/party
Party/party.o
StoogeFarmers/res.txt
StoogeFarmers/runtimes.txt
StoogeFarmers/test.sh
.vscode
Party/party_main.o
.gitignore
Party/party.o
